nav {
  height: 100px;
  background: white; }
  @media (max-width: 991px) {
    nav .container {
      width: 100%; } }
  @media (max-width: 767px) {
    nav .container .mobile-nav-toggle {
      width: 50px;
      height: 50px;
      float: right;
      margin-top: 25px;
      margin-right: 15px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      z-index: 2; }
      nav .container .mobile-nav-toggle span,
      nav .container .mobile-nav-toggle span:before,
      nav .container .mobile-nav-toggle span:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
        position: relative;
        transition: all 0.3s ease-in-out; }
      nav .container .mobile-nav-toggle span:before {
        top: 15px; }
      nav .container .mobile-nav-toggle span:after {
        top: -17px; }
      nav .container .mobile-nav-toggle.opened span {
        background: transparent; }
      nav .container .mobile-nav-toggle.opened span:before,
      nav .container .mobile-nav-toggle.opened span:after {
        transform-origin: center;
        transform: rotate(45deg);
        top: 0; }
      nav .container .mobile-nav-toggle.opened span:after {
        transform: rotate(-45deg); } }
  nav .logo {
    float: left;
    display: flex;
    align-items: center;
    margin-top: 13px; }
    nav .logo .logo-icon {
      width: 75px;
      height: 75px;
      background: url("../../img/logo.svg"); }
      @media (max-width: 991px) {
        nav .logo .logo-icon {
          margin-left: 30px; } }
      @media (max-width: 767px) {
        nav .logo .logo-icon {
          margin: 0 auto; } }
    nav .logo .logo-title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 20px;
      margin-left: 30px;
      color: #252525; }
      @media (max-width: 1175px) {
        nav .logo .logo-title {
          font-size: 18px;
          margin-left: 0px; } }
  nav .links {
    float: right;
    margin-top: 40px; }
    @media (max-width: 767px) {
      nav .links {
        display: none; } }
    nav .links a {
      font-size: 18px;
      color: #252525;
      font-weight: 600;
      text-decoration: none;
      margin-right: 40px;
      text-transform: uppercase; }
      @media (max-width: 1175px) {
        nav .links a {
          font-size: 14px; } }
    nav .links a:hover {
      color: #1AC77D; }
  nav .hero {
    clear: both;
    padding-top: 350px;
    width: 80%;
    margin: 0 auto; }
    @media (max-width: 991px) {
      nav .hero {
        text-align: center; } }
    @media (max-height: 767px) {
      nav .hero {
        position: absolute;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    nav .hero h1 {
      font-size: 50px;
      color: white;
      font-weight: 400; }
      @media (max-height: 767px) {
        nav .hero h1 {
          font-size: 35px; } }
      @media (max-width: 479px) {
        nav .hero h1 {
          font-size: 7vw; } }
    nav .hero h2 {
      font-size: 50px;
      color: #1AC77D;
      line-height: 0.7; }
      @media (max-height: 767px) {
        nav .hero h2 {
          font-size: 35px; } }
      @media (max-width: 479px) {
        nav .hero h2 {
          font-size: 7vw; } }
    nav .hero .kicker {
      width: 650px;
      height: 50px;
      margin-top: 20px;
      background: url("../../img/kicker.svg");
        background-size: cover;
      font-size: 20px;
      font-weight: 500;
      color: #1AC77D;
      display: flex;
      align-items: center; }
      @media (max-width: 767px) {
        nav .hero .kicker {
          width: 100%; } }
      @media (max-width: 479px) {
        nav .hero .kicker {
          background: none; } }
      nav .hero .kicker p {
        margin: 0 auto; }
        @media (max-width: 767px) {
          nav .hero .kicker p {
            font-size: 14px; } }
    nav .hero button {
      margin-top: 20px;
      background: #1AC77D;
      border: none;
      padding: 0.65em 2.27em;
      border-radius: 25px;
      cursor: pointer;
      font-size: 20px;
      color: white;
      transition: transform 200ms cubic-bezier(0.25, 0.39, 0.39, 2.01), -webkit-transform 200ms cubic-bezier(0.25, 0.39, 0.39, 2.01); }
      @media (max-width: 479px) {
        nav .hero button {
          font-size: 4vw; } }
    nav .hero button:hover {
      transform: translateY(-5px);
      color: #1AC77D;
      background: #252525; }
      @media (max-width: 479px) {
        nav .hero button:hover {
          background: #1AC77D;
          color: #252525; } }

.mobile-nav {
  position: absolute;
  transform: translateY(-100%);
  transition: all .2s ease-in-out;
  display: flex;
  flex-flow: column;
  text-align: center;
  background: white;
  position: absolute;
  width: 100%;
  padding: 2px; }
  .mobile-nav a {
    color: #252525;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    padding: 10px; }
  .mobile-nav a:hover {
    color: #1ac77d; }

@media (max-width: 767px) {
  .header .is-open {
    transform: translateY(0%); } }
